.iconhome {
  padding-left: 300px;
  height: 30px;
  margin-bottom: -10px;
  margin-right: -15px;
  margin-left: 20px;
}
.dhlk {
  list-style-type: none;
  display: inline;
  color: white;
}
.dhl {
  list-style-type: none;
  display: inline;
  color: white;
}
.dh {
  list-style-type: none;
  display: inline;
  color: white;
}
#top {
  background-color: black;
}
#sun {
  margin-top: 20px;
  width: 100%;
}
#toppic{
  display: block;
  margin-top: 20px;
  margin-left: 175px;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 25px;
}
li {
  display: inline;
  padding: 5px;
  color: #0093de;
}
#ph {
  color: white;
}
#pho {
  color: white;
}
.dhl
div ul li {
  display: inline;
}
.sywz {
  float: left;
  padding: 20px;
}
.sy {
  list-style-type: none;
  display: inline;
  color: white;
}
.wx {
  list-style-type: none;
  display: block;
  color: white;
}
.bottom {
  background-color: black;
  height: 23pc;
  padding-left: 50px;
}
#di {
  font-weight: 100%;
  color: white;
  margin-top: 270px;
  padding-left: 500px;
}
a{
  color: #0093de;
}
.juzhong {
  text-align: center;
  font-size: 30px;
}
.juzh {
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
.jz {
  text-align: center;
  padding: 10px;
}
.cycc {
  color: grey;
}
.icontnz-car {
  width: 100px;
}
.icontnz-weather {
  width: 100px;
}
.icontnz-accommodation {
  width: 100px;
}
.icontnz-bus {
  width: 100px;
}
.car {
  color: black;
}
.weather {
  color: black;
}
.accommodation {
  color: black;
}
.bus {
  color: black;
}
.icon-list {
  display: inline;
}
.icon-list__item {
  display: inline;
}
.tp {
  padding-left: 9%;
  padding-right: 8%;
}
#tup {
  width: 100%;
}
.shu {
  color: black;
}
#bapic {
  padding-left: 9%;
  padding-right: 8%;
}
.ba {
  width: 300px;
  height: 300px;
  padding: 6px;
}
.bazi {
  position: absolute;
  padding-left: -250px;
  margin-left: -295px;
  margin-top: 265px;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.baz {
  position: absolute;
  padding-left: -250px;
  margin-left: -295px;
  margin-top: 240px;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.icon-list {
  display: inline-block;
}
.icon-list__item {
  display: inline-block;
}
#xiaofeiji {
  position: absolute;
  padding-left: 750px;
}